<!DOCTYPE html>
<html>

<head>
    <title>Verify  your account</title>
</head>

<body>
<div>
    <h3>Dear {{name}},</h3>
    <p>Use this <a href="{{url}}">link</a> to activate your account</p>
    <br>
    <p>Cheers!</p>
</div>

</body>

</html>
